
<div class="text-center">
    <h1 style="background-color:LightBlue;" class="display-4">Hoşgeldin</h1>
</div>

<body>
<center>
        <img src="~/image/okulresmi.jpg" alt="deneme logosu" width="100%" height="50%" />
</center>
</body>
